@charset "utf-8";

html {
  background-color: #35537F;
}

body {
  background-color: #507DBF;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 100%;
  min-width: 600px;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}

header {
  background-color: #1B2A40;
  color: white;
}

header h1 {
  text-align: center;
  line-height: 1.5em;
}

section {
  margin: 0 auto;
  width: 80%;
}

div#links {
  background-color: black;
}

div#links::after {
  content: "";
  display: table;
  clear: both;
}

div#links a {
  color: white;
  display: block;
  float: left;
  padding-right: 3em;
  text-decoration: none;
  font-variant: small-caps;
  padding: 1em;
}

div#links a:hover {
  background-color: #EEEEEE;
  color: black;
}

article {
  background-color: #E5E0D1;
  padding: 2em;
}

article img {
  float: right;
  width: 25%;
  border: 2px solid black;
}
